.page--single
	.mask3
		opacity: 1
	#section--pin
		height: 100vh
		overflow: hidden
		display: flex
		left: 0
		.pin--wrap
			height: 100vh
			display: flex
			justify-content: flex-start
			align-items: flex-start
			padding-right: $col-margin*2
			&>*
				//margin: 0 $col-margin*2
				width: auto
				object-fit: cover
		#single--introduction__title
			float: left
			width: $col-margin*6
			margin-left: $col-margin*2
			height: 100vh
			z-index: 1

			.h1
				width: $col-margin*19
				margin-top: $col-margin*3

			.small-description
				width: $col-margin*5
				position: absolute
				bottom: 0
				margin-bottom: $col-margin
				.h3
					margin-top: $col-margin/4

		#single--introduction__image
			float: left
			padding-left: 100vw
			min-height: 100vh
			background-size: cover
			background-position: center
			overflow: hidden
			margin-right: $col-margin*2

			.bgd__image
				width: 120%
				height: 100%
				left: 0

		#single--introduction__text
			position: relative
			height: 100vh
			align-items: top

			.h2
				margin-top: $col-margin*3
				margin-right: $col-margin*2
				width: $col-margin*20

		.acf--paragraph, .acf--big-title
			position: relative
			height: 100vh
			align-items: top

			.t--text, .h2
				margin-top: $col-margin*3
				margin-right: $col-margin*2
				width: $col-margin*8
				display: block
		.acf--image-full
			position: relative
			height: 100vh
			align-items: top
			.lazyload-wrapper
				height: 100%

			img
				height: 100%
				left: 0
				top: 0

		.acf--image-one
			position: relative
			height: 100vh
			align-items: top

			img
				height: 74.97vh
				width: auto
				margin-top: $col-margin*3



#single

	



.progress-container
	position: fixed
	width: 100%
	height: 5px
	top: 0
	z-index: 1000

.progress-bar 
	height: 5px
	background: $color-dark
	width: 0%



.main-carousel
	padding-inline-start: 0

	transition: all 1s cubic-bezier(0.2, 0.2, 0.1, 1) !important

	&:focus
      	outline: none
	
	&:hover
		.previous
			left: 0
		.next
			right: 0

.flickity-button
	width: 75px
	height: 75px
	background: $color-93degres
	border-radius: 0
	transition: all 0.5s cubic-bezier(0.2, 0.2, 0.1, 1) !important

	&-icon
		width: 10px !important
		height: 10px !important
		fill: $color-dark
		
	&.previous
		left: -75px
	&.next
		right: -75px

	&:disabled
		opacity: 1
		visibility: hidden
		&.previous
			left: -75px
		&.next
			right: -75px

#single--content

	.main-carousel

		.lazyload-wrapper
			position: relative
			display: block
			height: 80vh

			img
				width: auto
				height: auto
				position: relative !important
				height: 80vh
			.t--caption
				position: absolute
				
	.carousel-cell

		margin-left: (1 / $grid-columns * 50%)
		margin-right: (1 / $grid-columns * 50%)
		top: 50%
		transform: translateY(-50%)




.flickity-page-dots
	.dot
		background: $color-dark
		width: 6px
		height: 6px
		margin: 0 10px

#realated--content
	padding-top: $col-margin*2
	overflow: hidden
	.h2
		margin-bottom: $col-margin
		text-transform: uppercase