.page--single
	background: white
	.mask3
		opacity: 1
	#section--pin
		height: 100vh
		overflow: hidden
		display: flex
		left: 0
		.pin--wrap, .single--introduction
			height: 100vh
			display: flex
			justify-content: flex-start
			align-items: flex-start
			padding-right: $col-margin*2

			@media (min-aspect-ratio: 4/3)
				padding-right: $col-margin-43*2

		.single--introduction
			margin-right: $col-margin*2


		#single--introduction__title
			width: $col-margin*6
			margin-left: $col-margin*2
			height: 100vh
			z-index: 1
			position: relative

			.h1
				width: $col-margin*19
				padding-top: $col-margin*3
				@media (min-aspect-ratio: 4/3)
					width: $col-margin-43*19
					padding-top: $col-margin-43*3
				.word
					overflow: hidden
					margin-bottom: -$col-margin-43*0.35
				.inside--animate
					top: $col-margin-43*0.4
					position: relative
			span.word, span.char
				display: inline-block

			.small-description
				width: 100%

				width: $col-margin-43*5
				@media (min-aspect-ratio: 4/3)
					width: $col-margin*5

				position: absolute
				bottom: 0
				padding-bottom: $col-margin
				@media (min-aspect-ratio: 4/3)
					padding-bottom: $col-margin-43
					margin-bottom: -$col-margin-43/10

				.h3
					margin-top: $col-margin/4
					@media (min-aspect-ratio: 4/3)
						margin-top: $col-margin-43/4

		#single--introduction__image
			position: relative
			padding-left: 100vw
			min-height: 100vh
			background-size: cover
			background-position: center
			overflow: hidden
			margin-right: $col-margin*2

			.bgd__image
				width: 100%
				height: 100%
				left: 0
				position: absolute

		#single--introduction__text
			position: relative
			height: 100vh
			align-items: top

			.h2

				width: $col-margin*20
				padding-top: $col-margin*3
				margin-right: $col-margin*2
				@media (min-aspect-ratio: 4/3)
					padding-top: $col-margin-43*3
					margin-top: -$col-margin-43*0.2

		.acf--paragraph, .acf--big-title
			position: relative
			align-items: top
			margin-right: $col-margin*1
			max-width: $col-margin*20
			width: 100%
			min-width: $col-margin*9
			padding-top: $col-margin*3
			display: block
			@media (min-aspect-ratio: 4/3)
				padding-top: $col-margin-43*3
				margin-top: -$col-margin-43*0.2
			.t--text
				@media (min-aspect-ratio: 4/3)
					margin-top: $col-margin-43*0.1
		.acf--image-full
			position: relative
			height: 100vh
			align-items: top

			margin-right: $col-margin*2
			.lazyload-wrapper
				height: 100%

			img
				height: 100%
				left: 0
				top: 0

		.acf--image-one
			position: relative
			align-items: top
			height: $col-margin-43*9
			padding-top: $col-margin*3
			margin-right: $col-margin*1

			@media (min-aspect-ratio: 4/3)
				padding-top: $col-margin-43*3


			img
			
				height: $col-margin-43*9
			.lazyload-wrapper
				float: left

		.acf--image-two
			display: inline-flex
			background: red

		.acf--image-full-split
			.image--one, .image--two
				width: $col-margin*12
				height: 100vh
				float: left
			.image--two
				background: red



#realated--content
	padding-top: $col-margin*2
	overflow: hidden
	.h2
		margin-bottom: $col-margin
