#footer
	padding-bottom: $col-margin
	margin: 0
	overflow: hidden
	padding-top: $col-margin*3
	background: $color-dark


	#list-destinations-rotate
		transform: rotate(-5deg)
		margin-bottom: $col-margin*1.5
		display: block
		float: left
		height: 0
		width: 100%
		position: relative
		bottom: 0

	.footer-carousel
		width: 100%
		background: $color-93degres
		a
			color: $color-black

	#list-destinations
		white-space: nowrap
		width: 102%
		left: -1%



		.flickity--list-element
			display:inline-block
			list-style: none
			
		a
			line-height: 36px
			display: inline-block
			vertical-align: middle
			margin-right: $col-margin/4
			+media-sm-and-less
				@include make-xs-column-offset(1)
		.flickity-viewport
			padding: ($col-margin / 8) 0 ($col-margin / 6) 0


	.menu-footer-container
		color: $color-white
		float: left
		margin-bottom: $col-margin *1
		width: $col-margin * 20
		margin-left: $col-margin * 2
		display: block

		li
			width: 100%
			text-align: left

		ul
			display: block
			padding: 0

		a			
		
			padding: 4px 0
			@include a-hover
			&:after
				background: white
				height: 2.5px

	#copyright
		clear: both
		padding-bottom: $col-margin *2
		.t--text
			opacity: 0.5
			width: $col-margin * 10
			margin-left: $col-margin * 2
			display: block
			color: $color-white