footer
	#sub-footer
		border-top: solid 1px $color-light-grey
		width: $col-margin*20
		margin-left: $col-margin*2
		padding-top: $col-margin
		margin-bottom: $col-margin*2
		overflow: hidden
		position: relative

	#follow-footer
		width: $col-margin*6
		float: left

		p
			margin-bottom: $col-margin/2

	.menu-footer-container
		color: $color-dark
		float: right
		width: $col-margin*14
		position: absolute
		right: 0
		bottom: 0

		li
			text-align: left
			margin-right: $col-margin*0.25
			float: right
			&:first-child
				margin-right: 0

		ul
			display: block
			padding: 0

		a			
		
			padding: 4px 0
			@include a-hover
			&:after
				background: white
				height: 2.5px

	#copyright
		margin-left: $col-margin*2
		margin-top: $col-margin
		.t--text
			opacity: 0.5
			width: $col-margin * 10
			margin-left: $col-margin * 2
			display: block
			color: $color-white

#footer
	padding-bottom: $col-margin*2
	margin: 0
	overflow: hidden
	padding-top: $col-margin*2.5
	background: $color-dark
	color: $color-white

	#big--93
		text-align: center
		font-size: $col-margin*7


//	#list-destinations-rotate
		transform: rotate(-5deg)
		margin-bottom: $col-margin*1.5
		display: block
		float: left
		height: 0
		width: 100%
		position: relative
		bottom: 0

//	.footer-carousel
		width: 100%
		background: $color-93degres
		a
			color: $color-black

//	#list-destinations
		white-space: nowrap
		width: 102%
		left: -1%



//		.flickity--list-element
			display:inline-block
			list-style: none
			
//		a
			line-height: 36px
			display: inline-block
			vertical-align: middle
			margin-right: $col-margin/4
			+media-sm-and-less
				@include make-xs-column-offset(1)
//		.flickity-viewport
			padding: ($col-margin / 8) 0 ($col-margin / 6) 0




