#header 
	display: block
	position: fixed
	width: $col-margin*20
	margin-left: $col-margin*2
	z-index: 100
	font-size: 0
	pointer-events: none
	top: $col-margin
	@media (min-aspect-ratio: 4/3)
		top: $col-margin-43

	//mix-blend-mode: exclusion

	+media-sm-and-less
		height: $header-height
		margin-top: 0


	#logo
		z-index: 2
		overflow: hidden
		transform: scale(1.0000001)
		transform-origin: center
		display: inline-block
		vertical-align: middle
		width: $col-margin-43*4
		text-align: center
		@media (min-aspect-ratio: 4/3)

			width: $col-margin*4
		position: relative
		top: -7px

		a
			overflow: hidden
			display: block
			float: left
			width: 100%

		#logo__93degres
			width: 100%
			@media (min-aspect-ratio: 4/3)
				width: $col-margin-43*1.5
			min-width: 90px

			+media-sm-and-less
				min-width: 100px
	a, .burger
		pointer-events: auto
		cursor: pointer

	#logo #logo__93degres, #link--instagram svg
		transition: fill 0.25s
	.menu-links
		a
			transition: color 0.25s
	

.header--white
	ul a
		color: $color-white

	.burger span, .cart-button
		background: $color-white
	.cart-button
		color: $color-dark

	#logo #logo__93degres, #link--instagram svg
		fill: $color-white

.header--black

	ul a
		color: $color-dark

	.burger span, .cart-button
		background: $color-dark
	.cart-button
		color: $color-white

	#logo #logo__93degres, #link--instagram svg
		fill: $color-dark




.menu-burger
	display: none
	position: fixed
	width: 100%
	height: 100%
	overflow: hidden
	overflow-y: scroll
	z-index: 102

	#svg__cross
		fill: $color-white
		width: 14px
		position: fixed
		left: $col-margin*12
		top: 45px
		cursor: pointer
		z-index: 103

	&--left
		height: 100%
		background: $color-dark
		display: table
		width: $col-margin*13
		position: absolute
		transform: translate3d(-100%, 0, 0)
		top: 0
		left: 0
	&--right
		height: 100%
		width: $col-margin*11
		background: $color-dark
		position: fixed
		top: 0
		right: 0
		opacity: 0



		+media-sm-and-less
			display: none

	&--content
		display: table-cell
		vertical-align: middle
		ul
			margin: $col-margin*2
			width: $col-margin*9
			float: left
		li
			display: block
			float: left
			clear: both
			font-size: 0
		a, p
			color: $color-white
		.h2
			padding: 4px 0
			position: relative
			@include a-hover
			&:after
				height: 3px
				background: $color-white
			+media-sm-and-more
				line-height: 4.888888888888889vw

		.overflow--animate
			padding: 0
			margin: 0

		.title-link
			
			a, p
				text-transform: none
				color: $color-white
				float: left

			a
				@include a-hover

				&:after
					background: $color-white
			p
				margin-bottom: $col-margin/2
				opacity: 0.5
		
	
		.small-link

			margin-bottom: $col-margin*1.25
			margin-top: $col-margin/4
			a

				@include a-hover

				&:after
					background: $color-white

.menu--overlay
	background: $color-black
	display: none
	position: fixed
	z-index: 101
	top: 0
	left: 0
	width: 100%
	height: 100%
	transform-origin: left

.active-menu
	display: block
.menu-links

	display: inline-block
	vertical-align: middle

	a 
		color: $color-dark
		display: inline-block
		padding: 5px 0px


	
	ul 
		padding: 0
		margin: auto

		+media-sm-and-less
			display: table-cell
			vertical-align: middle

	.burger, li
		
		margin-right: $col-margin / 2
		display: inline-block
		vertical-align: middle
		float: none
		position: relative
		overflow: hidden
		float: none
		padding: 0

		&:last-child
			margin-right: 0
			overflow: initial

	li
		+media-md-and-less
				display: none


	.burger
		width: $col-margin/2
		padding: 10px
		margin-left: -10px
		margin-top: 0

		span
			display: block
			height: 1px
			margin: 1.5px 0
			float: left
			width: inherit
			position: relative
	

	&--left
		position: relative
		width: $col-margin*8
		margin-top: -17.5px
		display: inline-block
		vertical-align: middle

		li


			+media-md-and-less
				display: none

	&--right
		text-align: right
		position: relative
		width: $col-margin*8
		margin-top: -15px
		display: inline-block
		vertical-align: middle

		li

			&:last-child
				margin-right: 0
				overflow: initial
				min-width: $col-margin
		.cart-button
			
			text-align: center
			border-radius: 10000px
			padding: 8px 20px 10px 20px
			min-width: calc(100% - 40px)
			margin-left: $col-margin/2





#link--instagram
	+media-md-and-less
		display: block
	a

		+media-sm-and-less
			text-indent: 100%
			white-space: nowrap
			overflow: hidden
			right: 0

		svg
			display: inline-block
			vertical-align: middle
			right: -40px
			width: 20px
			padding-left: $col-margin/10
			top: 5px
			+media-sm-and-less
				right: 0
				padding-left: 0
				right: 40px
		
	.current 
		color: $color-93degres

.menu-secondary-container
	text-align: right


	